<?xml version="1.0" encoding="UTF-8"?>
<!--
  logback-spring.xml — auth-service
  Place dans : src/main/resources/logback-spring.xml
  Émet des logs JSON ligne par ligne → Fluent Bit les parse → OpenSearch
-->
<configuration>

    <!-- ========================= -->
    <!-- APPENDER : Console JSON   -->
    <!-- ========================= -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z',UTC}","level":"%level","service":"auth-service","thread":"%thread","logger":"%logger{40}","message":"%replace(%msg){'&quot;','\\&quot;'}","trace":"%X{traceId:-}","span":"%X{spanId:-}"}%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- LOGGERS SPÉCIFIQUES       -->
    <!-- ========================= -->

    <!-- Tes classes métier PFE — DEBUG pour tout voir -->
    <logger name="com.pfe.auth" level="DEBUG" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

    <!-- Spring Security — INFO suffit -->
    <logger name="org.springframework.security" level="INFO" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

    <!-- Hibernate SQL — WARN évite le spam -->
    <logger name="org.hibernate.SQL" level="WARN" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

    <!-- Spring Web -->
    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

    <!-- JWT (si tu utilises io.jsonwebtoken) -->
    <logger name="io.jsonwebtoken" level="WARN" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

    <!-- ========================= -->
    <!-- ROOT                      -->
    <!-- ========================= -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>